@model IEnumerable<MoviesData.Entities.Movie>

<h2>Всички филми</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Режисьор</th>
            <th>Година</th>
            <th>Жанр</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Year</td>
                <td>@movie.Genre</td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info btn-sm">Detals</a>
                    <form asp-action="Delete" asp-route-id="@movie.Id" method="post" style="display:inline">
                            <button class="btn btn btn-sm">Delete</button>
                    </form>
                    <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Добави нов филм</a>
